extends dashboard-base

block mainContent
  h1.display-5.mb-4.fw-bold 記事生成
  if !postId
    form.row#blogPost.default
      .row.row-cols-1.row-cols-md-2
        .col
          h6 入力
          hr.mb-4
          .form-group.col.my-3
            label.fw-bold.my-2(for='title') タイトル
            input#title.form-control(type='text', name="title", placeholder='エンジニアリングの未来', required)
          .form-group.col.my-3
            label.fw-bold.my-2(for='subtitle') サブタイトル
            input#subtitle.form-control(type='text', name="subtitle", placeholder='技術の進化と今後の展望', required)
          .form-group.col.my-3
            label.fw-bold.my-2(for='author') 著者
            input#author.form-control(type='text', name="author", placeholder='山田 太郎', required)
          .form-group.col.my-3
            div.keywords-container
                label.fw-bold.my-2.d-flex.justify-content-between(for='keyword-1') 
                  | キーワード
                  button.badge.bg-primary.add-item(type="button" data-name="keyword" data-label="キーワード")
                    i.fas.fa-plus
                div.input-group.mb-3
                    div.keyword-inputs.row.row-cols-1.row-cols-md-3
                      .col.p-1
                        input.form-control(type='text', name="keyword[]", placeholder='プログラミング', id='keyword-1', required)
          .form-group.col.my-3
            label.fw-bold.my-2(for='blogImage') 画像アップロード
            input#blogImage.form-control-file(type='file', name='blogImage')
          .form-group.col.my-3
            label.fw-bold.my-2(for='content') コンテンツ
            textarea#content.form-control(name='content', required).rows
          .form-group.col.my-3
            label.fw-bold.my-2(for='summary') 要約
            textarea#summary.form-control(name='summary', placeholder='このブログポストの短い説明...', required).rows          
          .my-3
            button.btn.btn-primary.w-100(type='submit') 
              i.fas.fa-paper-plane.me-3
              | 投稿する
