extends default

block content
  .container-fluid.h-100
    .row.h-100
      include sidebar
      .row.justify-content-center.m-0.p-0
        .container.py-4.bg-light.h-100
          main.col-md-8.ms-sm-auto.col-lg-9.px-md-4
            form.row#compare.default
              .form-group.col-12.col-sm-6
                label(for='input1') Input 1
                input#input1.form-control(type='text', placeholder='Enter first value')
              .form-group.col-12.col-sm-6
                label(for='input2') Input 2
                input#input2.form-control(type='text', placeholder='Enter second value')
              .my-3.px-3
                button.btn.btn-primary(type='submit') 
                  i.fas.fa-paper-plane
            .response
              h3 Result
              p#result
