extends dashboard-base

block mainContent
  form.row#compare.default
    .form-group.col-12.col-sm-6
      label(for='input1') Input 1
      input#input1.form-control(type='text', placeholder='Enter first value')
    .form-group.col-12.col-sm-6
      label(for='input2') Input 2
      input#input2.form-control(type='text', placeholder='Enter second value')
    .my-3.px-3
      button.btn.btn-primary(type='submit') 
        i.fas.fa-paper-plane
  .response
    h3 Result
    p#result
