extends dashboard

block dynamicContent
  - colclass='row-cols-1'
  - gridclass='col-12 col-sm-3'
  .row.w-100.m-0(class=colclass)
    .col.order-1.pb-3
      #display-history.row-cols-1.row-cols-md-2.row-cols-lg-4.horizontal-scroll(data-mode=mode)
    .col.order-1.pb-3
      hr.mb-4
      #osusume-history.row.row-cols-2.row-cols-md-2.row-cols-lg-4(data-mode=mode)
