extends default

block content
    script.
        document.addEventListener('DOMContentLoaded', function() {
            const observer = new IntersectionObserver((entries) => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        entry.target.classList.remove('hidden'); // Remove the hidden class
                        entry.target.classList.add('animate__animated');
                        entry.target.classList.add(entry.target.dataset.animate); // Apply the animation class
                        entry.target.classList.add(entry.target.dataset.delay); // Apply delay if present
                        observer.unobserve(entry.target); // Stop observing after animation
                    }
                });
            }, {
                threshold: 0.1 // Adjust the threshold as needed
            });

            document.querySelectorAll('[data-animate]').forEach(element => {
                element.classList.add('hidden'); // Add the hidden class initially
                observer.observe(element);
            });
        });
    style.
        .cta-button{
            font-size:1.3em;
        }
        .hidden {
            opacity: 0;
        }
        .b-custom-gradient-text {
            background: linear-gradient(90.9deg, #0ea8cc 2.74%, #a514f9 102.92%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .b-custom-gradient {
            background: linear-gradient(90.9deg, #0ea8cc 2.74%, #a514f9 102.92%);
        }

    //- ログインポップアップ
    #login-container.position-fixed.d-flex.align-items-center.d-none(data-animate="animate__fadeIn" onclick="hideLogin()" style="inset:0;z-index:99;background-color: #000000b0;")
        .position-fixed.top-50.start-50.translate-middle#positionElement.d-flex.justify-content-center
            .col(style="max-width: 90%;")
                #login-form.card.shadow.bg-light.border.border-white.text-center
                    .card-body.d-flex.flex-column.justify-content-center(style="min-height: 250px;")
                        h1.card-title.text-center 
                            span.b-custom-gradient-text.fw-bold UniDash
                        span.fw-bold(style="font-size:16px;") Your MultiFuntional Dashboard
                        .mb-3
                        .verify-email.d-none(style="min-height: 60px;")
                            span メールアドレスを確認してログインしてください
                            a#resend-email(href="#" style="display:block" onclick="resendSigninMail()") メールを再送する

                        .container.text-center
                            a(href='/user/login', class='google-login-button btn btn-light')
                                <div class="bg-white" style="borer-radius:50px"><i class="fas fa-envelope me-2"></i></div>
                                Login with mail
                            span.d-block.w-100 OR
                            a(href='/auth/google', class='google-login-button btn btn-light')
                                img.me-2(src='/img/googleauth.svg', alt='Googleで続ける')
                                span Register/Login
                        .copyright.mt-3
                            hr
                            span.text-muted.small(style="font-size:12px") 続行することで、当社の利用規約およびプライバシーポリシーに同意するものとします。



    //- 背景画像
    div#intro.bg-image.shadow-1-strong
        div(style="background: linear-gradient(120.9deg, #fff 50.74%, #2a1eae 102.92%);")
            div.container.row.align-items-center.h-100.m-auto
                div.col-12.col-md-6.py-5.text-dark(data-animate="animate__slideInLeft")
                    h1.mb-3.fw-bold.text-dark.text-center#headline-container
                        span.b-custom-gradient-text UniDash
                        p.generate-text#headline
                    .text-center
                        | Your MultiFuntional Dashboard
                    .text-center.d-flex.flex-column.justify-content-center.align-items-center.mt-3
                        button.btn.b-custom-gradient.text-white.btn-lg.m-2.px-5.py-3.mb-3.cta-button(data-animate="animate__bounce"  data-delay="animate__delay-1s" onclick="displayLogin()", role="button", style="border-radius:50px") まずは無料でお試し
                .col-12.col-sm-6(data-animate="animate__slideInRight")
                    .container.p-3.text-center
                        img(src="/img/neon-woman-interacting-with-a-virtual-infographic.gif" style="width:90%")
                        span.text-muted(style="font-size: 12px;position: absolute;bottom: 5px;right: 0;" data-animate="animate__fadeIn" data-delay="animate__delay-2s")
                            | Illustration by 
                            a(href="https://icons8.com/illustrations/author/eEbrZFlkyZbD") Anna A
                            |  from 
                            a(href="https://icons8.com/illustrations") Ouch!
    script.
        function displayLogin(){
            $('#login-container').removeClass('d-none')
        }
        function hideLogin(){
            $('#login-container').addClass('d-none')
        }