extends dashboard-base

block mainContent
  .row 
    each feed in feeds
      .col-12.col-sm-4 
        h5=feed.title
        .feed(style="height: 70vh;overflow: scroll;")
          each item in feed.items
            .card.mb-3
              .card-header
                a(href=item.link target="_blank") #{item.title}
              .card-body
                p #{item.content}
