extends default

block content
  .container-fluid.h-100
    .row.h-100
      include sidebar
      .row.justify-content-center.m-0.p-0
        .container.py-4.bg-light.h-100
          main.col-md-9.ms-sm-auto.col-lg-10.px-md-4
            .row 
              each feed in feeds
                .col-12.col-sm-4 
                  h5=feed.title
                  .feed(style="height: 70vh;overflow: scroll;")
                    each item in feed.items
                      .card.mb-3
                        .card-header
                          a(href=item.link target="_blank") #{item.title}
                        .card-body
                          p #{item.content}
