extends dashboard-base

block mainContent
  .container.my-4
    h1.gallery-header 画廊

    section
      .row.row-cols-1.row-cols-md-4.my-4.p-0.mx-0
        each image in images.reverse()
          .col.my-2.position-relative
            img.gallery-image(style="width: 100%;", src=`data:image/png;base64,${image.image}`, alt=`${image.prompt}`)
            .gallery-prompt.bg-dark.text-white.position-absolute.card(style="display:none;bottom:10px;right:20px;left:20px")
              .card-body.py-3
                h6 プロンプト
                span.gallery-prompt-text #{image.prompt}
            span.gallery-prompt-toggle.position-absolute(type='button' style='bottom:20px;right:20px' data-feather='info' color="white" onclick="togglePrompt(this)") プロンプトの表示を切り替える

    if images.length === 0
      p まだ画像が生成されていません。
