extends default

block content
  .container-fluid.h-100
    .row.h-100
      include sidebar
      .row.justify-content-center.m-0.p-0
        .container.py-4.bg-light.h-100
          main.col-md-8.ms-sm-auto.col-lg-9.px-md-4
            h1 支払いエラー
            p 支払い処理中にエラーが発生しました。後でもう一度お試しください。
