.chat-message{
    background-color: #ffffff;
}

.card-clickable:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
  }
  .card-img-top {
    height: 200px; /* Adjust the desired height */
  }
  .alert{
    margin-top: 1rem ;
    left: 50% ;
    transform: translateX(-50%) ;
    border-radius: 0 !important;
  }
@media (max-width: 768px) {  /* assuming 768px is the breakpoint for mobile view */
    #positionElement {
      position: absolute !important;
      top: auto !important;
      left: 0 !important;
      right: 0 !important;
      bottom: auto !important;
      transform: none !important;
    }
    .alert{
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        bottom: auto !important;
        transform: none !important;
        margin: 0 !important;
        margin-top: 0 ;
        left: 0 ;
        transform: none ;
    }
  }
  