main#dashboard {
  display:none;
}
.carousel-toolbar {
  background: #ffffffc4;
  border-radius: 50px 50px 0px 0px;
}
.swal2-custom-popup {
  width: 250px; /* Smaller width */
  padding: 10px;
  font-size: 14px; /* Smaller font size */
}

.swal2-custom-title {
  font-size: 16px; /* Adjust the title font size */
  font-weight: 500;
  color: #333; /* Darker title color */
}
.blurred .video-container {
  filter: blur(25px);
  transition: filter 0.3s ease-in-out;
}

.hide-text{
  font-size: 12px;
  display:none;
}
.one-line {
  white-space: nowrap;
  overflow: hidden; /* This keeps anything beyond the container's bounds under wraps. */
  text-overflow: ellipsis; /* This adds a nice '...' to signify there's more to see. */
  max-width: 150px;
}
.slider-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; /* For the smooth scrolling on iOS devices */
}
.slider-container::-webkit-scrollbar {
  display: none; /* Because scrollbars are so last season */
}
.handle-roop .spinner-border{
  display: none;
}
.handle-roop.loading .spinner-border{
  display: inline-block;
}
.handle-roop.loading i{
  display: none;
}
.card {
  flex: 0 0 auto; /* This magic trick keeps our cards in line */
  margin-right: 15px; /* Adds a little space between our runway models */
}
.video-container video{
  background-color: black;
}
.grid-item.col-12 .video-container img,.grid-item.col-12 .video-container video{
  max-height:80vh !important;
}
#video-holder .card-title, #mobile-toolbar .card-title{
  color:white;
}
.fav i {
  color:red !important;
}
.masonry-container .download-button i,.masonry-container .spinner-border  {
  
}
.accordion-item h2 button {
  font-weight: bold;
  font-size: 18px;
}
.contain-text {
  height: 30px;  /* Or whatever height you desire */
  padding: 10px; /* Or whatever padding you desire */
  overflow: hidden; /* In case the text exceeds the fixed height */
}
.gray-gradient {
  background: linear-gradient(to bottom, #d9d9d9, #8a8b8e);
}

.actress.done img{display:none;}
.actress.done video{display:block;}
.card-clickable:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
  }
  .card-img-top {
    height: 200px; /* Adjust the desired height */
  }
  .alert{
    margin-top: 1rem ;
    left: 50% ;
    transform: translateX(-50%) ;
    border-radius: 0 !important;
  }
  .horizontal-scrolling-list {
    overflow-x: auto;
    white-space: nowrap;
}

.horizontal-scrolling-list .item {
    display: inline-block;
    width: 200px;  /* or any desired width */
    height: 100px; /* or any desired height */
    margin-right: 16px;
    background-color: #e9e9e9;  /* For visualization purposes */
    text-align: center;
    vertical-align: top;
}
.rotate {
  animation: spin 1s linear infinite;
}

#slickModal .modal-dialog {
  max-height: 100vh;
  display: inline;
  flex-direction: column;
  justify-content: center;
  border-radius:0;
}
#slickCarousel .slick-slide img {
  height: 100vh;
  object-fit: contain;
}
.slick-prev {
  left: 10px;
  bottom: 50vh;
  position:absolute;
  z-index: 2;
}
.slick-next {
  right: 10px;
  bottom: 50vh;
  position:absolute;
  z-index: 2;
}
.setting-absolute{
  position: absolute;
  top: 5px;
  right: 5px;
}
.slick-slide .setting-absolute{
  display: block !important;
}
.slick-slide video{
  max-height: 90vh;
}
#slickModal .modal-dialog{
  margin: 0 auto;
}
.slick-slide .card.info-container{
  border-radius: 0;
  width: 100%;
}
.slick-slide{
  display: flex !important;
  align-items: center !important;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Optional: to hide the scrollbar */
.horizontal-scrolling-list::-webkit-scrollbar {
    display: none;
}
.card.hover:hover{
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}
.hover-hide{
  display: none;
  bottom: 0 !important;
  top: auto !important;
  right: auto !important;
  left: auto !important;
}
#edit-book input, #edit-book textarea {
  border: none;
  background-color: #fff0;
  width: 100%;
}
#edit-book textarea {
  overflow-y: hidden;  /* Hide vertical scrollbar */
  resize: none;        /* Disable textarea resizing */
}
#video-holder video {
  max-height: 70vh;
}
.top-nav {
  position: sticky;
  top: 0;
  z-index:1000;
}
.rotate-180 {
  animation: rotate180 1s forwards;
}

@keyframes rotate180 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotate0 {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
li.list-group-item{
  cursor:pointer;
}
.fullScreen .custom-carousel-item.grid-item {
  width: 100%;
}
.fullScreen .masonry-item.custom-carousel-item.grid-item {
  padding: 0 !important;
}
.hashtag-inputs input, .chapters-inputs input, .keyword-inputs input{
  min-width: 150px;
}

#display-history .img-fluid, #osusume-history .img-fluid {
  height: 250px; /* Adjust this value to fit your design */
  object-fit: cover; /* This makes sure the image covers the area without stretching */
  object-position: center; /* Keeps the image centered */
}
.horizontal-scroll {
  display: flex;
  flex-wrap: nowrap; /* Prevents the items from wrapping */
  overflow-x: auto; /* Enables horizontal scrolling */
  gap: 10px; /* Optional: Adds some space between the cards */
}

/* Optional: Style for the cards to ensure they have a consistent width */
.horizontal-scroll .card.col {
  flex: 0 0 auto; /* Prevents the cards from growing or shrinking */
}

.floating-chat{
  width: 25vw;
  right: 0;
  bottom: 0;
}
@media (max-width: 992px) {
  .top-nav .navbar {
    padding: 0 !important;
  }
  .top-nav img{
    width: 20px;
  }
}

@media (max-width: 768px) {  /* assuming 768px is the breakpoint for mobile view */
  .floating-chat{
    width: 100vw;
  }

  .slick-slide .card-title{
    display:block !important;
  }
    #positionElement { 
      position: absolute !important;
      top: auto !important;
      left: 0 !important;
      right: 0 !important;
      bottom: auto !important;
      transform: none !important;
    }
    .alert{
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        bottom: auto !important;
        transform: none !important;
        margin: 0 !important;
        margin-top: 0 ;
        left: 0 ;
        transform: none ;
    }
    #message-container {
      padding-right: 0 !important;
    }
    #summary{
      width:100% !important;
    }
    #video-container{
      width:100%
    }

    #video-container{
      position: sticky !important;
      z-index: 2;
      top: 0;
      left:0;
      right:0;
      width: 100%;
    }

    #video-holder video {
      max-height: auto !important;
    }
    
  }
  